<?xml version="1.0"?>
<model>
  <name>3DR Iris with ground truth odometry</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_ground_truth.sdf</sdf>

  <author>
   <name>Amaury Negre</name>
   <email>amaury.negre@gipsa-lab.fr</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a ground truth odometry.
  </description>
</model>
